/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #222222FD;
    background-alt: #101010FF;
    foreground:     #DDDDDDFF;
    selected:       #666666FF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
